#area-list {
	padding: 0 20%;
}

#case1, #case2 {
	display: inline-block;
	margin: 0 auto;
	padding-left: 75px;
	padding-right: auto;
	width: 100%;
}

#case3 {
	padding: 0 20%;
	margin: 50px 0px;
	text-align: center;
}

#case3>li {
	margin: 6px;
	width: 150px;
	height: 120px;
	line-height: 120px;
	vertical-align: middle;
	
}

.area-options>li {
	list-style: none;
	display: inline-block;
	background-color: #eee;
	border-radius: 20%;
	margin: 5px;
	width: 100px;
	height: 80px;
	line-height: 80px;
	text-align: center;
}

.area-options>li:hover {
	background-color: gray;
	
}
#tree {
	color: transparent;
	background-repeat: no-repeat;
	background-image: url("/trip/resources/images/tree.png");
	background-position: center;
}

#tree:hover {
	color: white;
	background-color: gray;
	
}
#content-list {
	
}

.area-content {
	
}

.area-content>li {
	
}

#areaBoard>div {
	
}

h1 {
	
}

#area-img {
	
}

.titleText {
	
}

.pageNum {
	
}

#area-text {
	
}

.overView {
	
}

.text-side {
	
}

.img-side {
	
}