.area-options {
	list-style: none;
	display: inline-block;
	*display: inline;
	zoom: 1;
	padding: 0;
}

.area-options>li {
	list-style: none;
	float: left;
	margin: 5px;
	padding: 2px;
	background-color: orange;
	border-radius: 20%;
}

.area-content {
	list-style: none;
	padding: 0;
	text-align: center;
}

.area-content>li {
	border-bottom: 1px solid #e0e0e0;
	text-align: left;
	height: auto;
}

#areaBoard>div {
	margin-left: 20%;
	margin-right: 20%;
}

h1 {
	margin-top: 30px;
	text-align: center;
}

#area-img {
	vertical-align: top;
	width: 300px;
	height: 200px;
	border: 1px solid black;
	margin: 15px;
}

.inlineText {
	display: inline-block;
	font-size: 18px;
	margin: 15px;
	margin-right: 0px;
}

.pageNum {
	width: 20px;
	margin: 0 auto;
	display: inline-block;
	font-size: 18px;
}

#area-text {
	text-align: left;
}

.context {
	overflow: hidden;
	width: 650px;
	height: 160px;
	padding: 0px;
	margin: 0;
	margin-left: 15px;
	display: -webkit-box;
	-webkit-line-clamp: 8;
	-webkit-box-orient: vertical;
	line-height: 20px;
	text-overflow: ellipsis;
}

#text-side {
	display: inline-block;
	width: 64%;
	height: 230px;
}

#img-side {
	display: inline-block;
	float: left;
}