@charset "UTF-8";
#replyDiv{
	background-color: #fafafa;
    border-top: 1px solid #aaaaaa;
}
#replyIframe{
    border: none;
    margin-bottom: 0;
}
#rereplyDiv{
	width: 868px;
    border-top: 1px solid #aaaaaa;
    border-bottom: 1px solid #aaaaaa;
    height: 220px;
    background-color: #fafafa;
    margin-top: 0;
}
#rereplyDiv textarea{
	border:none;
	margin: 0px;
	height: 88px; 
	width: 800px; 
	resize:none
}
#trplyTable{
	border-collapse: collapse;
    border-spacing: 0;
}
#trplyTable tr, #trplyTable td{
	background-color:white;
	border:1px solid #aaaaaa;
}