<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.hk.trip.aboard">


<select id="agetCount" resultType="int" parameterType="int">
	SELECT COUNT(*) AS totalCount FROM AREABOARD WHERE AREABOARD_CODE = #{areaboard_code}
	</select>
	
<select id="agetNumlist" resultType="AboardDto" parameterType="Map">
	<![CDATA[select X.RNUM,X.AREABOARD_NUM, X.USER_NICKNAME,X.AREABOARD_CODE, X.AREABOARD_TITLE, X.AREABOARD_TIME,X.AREABOARD_CONTENT,X.AREABOARD_VIEW,X.AREABOARD_LIKE,X.AREABOARD_HATE,X.AREABOARD_CATEGORY,X.AREABOARD_COMMENTCOUNT from (select rownum as rnum, A.AREABOARD_NUM, A.USER_NICKNAME,AREABOARD_CODE,A.AREABOARD_TITLE, A.AREABOARD_TIME,A.AREABOARD_CONTENT,A.AREABOARD_VIEW,A.AREABOARD_LIKE,A.AREABOARD_HATE,A.AREABOARD_CATEGORY,A.AREABOARD_COMMENTCOUNT FROM (
select AREABOARD_NUM, USER_NICKNAME,AREABOARD_CODE,AREABOARD_TITLE, AREABOARD_TIME,AREABOARD_CONTENT,AREABOARD_VIEW,AREABOARD_LIKE,AREABOARD_HATE,AREABOARD_CATEGORY,AREABOARD_COMMENTCOUNT
        from AREABOARD
        order by AREABOARD_NUM DESC) A
    where ROWNUM <= #{endNum} AND  AREABOARD_CODE = #{areaboard_code}) X
where X.rnum >= #{startNum}   ]]>
	</select>

<select id="agetSearchlist" resultType="AboardDto" parameterType="Map">
	<![CDATA[select X.RNUM,X.AREABOARD_NUM, X.USER_NICKNAME,X.AREABOARD_CODE, X.AREABOARD_TITLE, X.AREABOARD_TIME,X.AREABOARD_CONTENT,X.AREABOARD_VIEW,X.AREABOARD_LIKE,X.AREABOARD_HATE,X.AREABOARD_CATEGORY,X.AREABOARD_COMMENTCOUNT from (select rownum as rnum, A.AREABOARD_NUM, A.USER_NICKNAME,AREABOARD_CODE,A.AREABOARD_TITLE, A.AREABOARD_TIME,A.AREABOARD_CONTENT,A.AREABOARD_VIEW,A.AREABOARD_LIKE,A.AREABOARD_HATE,A.AREABOARD_CATEGORY,A.AREABOARD_COMMENTCOUNT FROM (
select AREABOARD_NUM, USER_NICKNAME,AREABOARD_CODE,AREABOARD_TITLE, AREABOARD_TIME,AREABOARD_CONTENT,AREABOARD_VIEW,AREABOARD_LIKE,AREABOARD_HATE,AREABOARD_CATEGORY,AREABOARD_COMMENTCOUNT
        from AREABOARD
        order by AREABOARD_NUM DESC) A
    where ROWNUM <= #{endNum} AND  AREABOARD_CODE = #{areaboard_code} AND ${akeyField} LIKE '%${akeyWord}%') X
where X.rnum >= #{startNum}  ]]>
	</select>
    
 <select id="agetSearchCount" resultType="int" parameterType="Map">
        <![CDATA[SELECT COUNT(AREABOARD_NUM) from 
        (select rownum as rnum, A.AREABOARD_NUM,
        A.USER_NICKNAME,AREABOARD_CODE,A.AREABOARD_TITLE, 
        A.AREABOARD_TIME,A.AREABOARD_CONTENT,A.AREABOARD_VIEW,
        A.AREABOARD_LIKE,A.AREABOARD_HATE,A.AREABOARD_CATEGORY,
        A.AREABOARD_COMMENTCOUNT FROM (
    select AREABOARD_NUM, USER_NICKNAME,
    AREABOARD_CODE,AREABOARD_TITLE, AREABOARD_TIME,AREABOARD_CONTENT,
    AREABOARD_VIEW,AREABOARD_LIKE,AREABOARD_HATE,AREABOARD_CATEGORY,
    AREABOARD_COMMENTCOUNT
            from AREABOARD
            order by AREABOARD_NUM DESC) A
        where AREABOARD_CODE = #{areaboard_code} AND ${akeyField} LIKE '%${akeyWord}%') X
    ]]>
	</select>
 <insert id="ainsertBoard" parameterType="AboardDto">
 INSERT INTO AREABOARD VALUES ((SELECT NVL(MAX(AREABOARD_NUM)+1,0)FROM AREABOARD),#{user_nickname},#{areaboard_code},#{areaboard_title},SYSDATE,#{areaboard_content},0,0,0,#{areaboard_category},0) 
 </insert>

 <select id="adetailview" parameterType="Map" resultType="AboardDto">
SELECT * FROM AREABOARD WHERE AREABOARD_NUM = #{areaboard_num} AND AREABOARD_CODE = #{areaboard_code}
 </select>

  <update id="updateaBoard" parameterType="AboardDto">
      UPDATE AREABOARD
      SET AREABOARD_TITLE = #{areaboard_title}, AREABOARD_CONTENT = #{areaboard_content}, AREABOARD_TIME = SYSDATE
      WHERE AREABOARD_NUM = #{areaboard_num}
    </update>

      <delete id="adeleteBoard" parameterType="Map">
    DELETE AREABOARD WHERE AREABOARD_NUM=#{areaboard_num} AND AREABOARD_CODE = #{areaboard_code}
    </delete>

    <insert id="insareply" parameterType="AboardDto">
   INSERT INTO T_COMMENT VALUES ((SELECT NVL(MAX(COMMENT_NUM)+1,0)FROM T_COMMENT),
NULL,#{areaboard_num},#{user_nickname},SYSDATE,0,0,(SELECT NVL(MAX(COMMENT_REFER)+1,0)
FROM T_COMMENT WHERE AREABOARD_NUM = #{areaboard_num} ),#{comment_content},0,0 )
   </insert>

<select id="agoNext" parameterType="Map" resultType="AboardDto">
	<![CDATA[ SELECT AREABOARD_NUM,AREABOARD_TITLE,AREABOARD_CODE,AREABOARD_TIME,USER_NICKNAME FROM AREABOARD WHERE AREABOARD_NUM=(SELECT MIN(AREABOARD_NUM) FROM AREABOARD WHERE AREABOARD_NUM > #{areaboard_num} AND AREABOARD_CODE = #{areaboard_code})]]> 
	</select>
	
	<select id="agoBack" parameterType="Map" resultType="AboardDto">
	<![CDATA[ SELECT AREABOARD_NUM,AREABOARD_TITLE,AREABOARD_CODE,AREABOARD_TIME,USER_NICKNAME FROM AREABOARD WHERE AREABOARD_NUM=(SELECT max(AREABOARD_NUM) FROM AREABOARD WHERE AREABOARD_NUM < #{areaboard_num} AND AREABOARD_CODE = #{areaboard_code}) ]]> 
	</select>

    <update id="areadCount" parameterType="int">
	 UPDATE AREABOARD SET AREABOARD_VIEW = AREABOARD_VIEW+1 WHERE AREABOARD_NUM=#{areaboard_num}
	</update>
	
	 <update id="AupdateNickname" parameterType="Map">
      UPDATE AREABOARD
      SET USER_NICKNAME = #{user_nickname}
      WHERE USER_NICKNAME = #{ori_nickname}
    </update>
    
  </mapper>