<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.hk.trip.fboard">
 
  <select id="getAllContent" resultType="FboardDto">
  SELECT FREEBOARD_NUM,USER_NICKNAME,FREEBOARD_TITLE,FREEBOARD_TIME,FREEBOARD_CONTENT,FREEBOARD_VIEW,FREEBOARD_LIKE,FREEBOARD_HATE FROM FREEBOARD ORDER BY FREEBOARD_TIME DESC
 </select> 
 
 <select id="getLastNum" resultType="FboardDto">
 SELECT FREEBOARD_NUM FROM FREEBOARD WHERE ROWNUM = 1 ORDER BY FREEBOARD_NUM DESC
 
 </select>
 
 <insert id="insertBoard" parameterType="FboardDto">
 INSERT INTO FREEBOARD VALUES ((SELECT NVL(MAX(FREEBOARD_NUM)+1,0)FROM FREEBOARD),'asd',#{freeboard_title},SYSDATE,#{freeboard_content},0,0,0,0) 
 </insert>
 
 <select id="getDetailView" resultType="FboardDto" parameterType="int" >
 SELECT FREEBOARD_NUM, USER_NICKNAME, FREEBOARD_TITLE,FREEBOARD_TIME,FREEBOARD_CONTENT,FREEBOARD_VIEW,FREEBOARD_LIKE,FREEBOARD_HATE FROM FREEBOARD WHERE FREEBOARD_NUM = #{freeboard_num}
 </select>
 

 
 
   </mapper>