<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.hk.trip.fboard">
 
  <select id="getAllContent" resultType="FboardDto">
  SELECT FREEBOARD_NUM,USER_NICKNAME,FREEBOARD_TITLE,FREEBOARD_TIME,FREEBOARD_CONTENT,FREEBOARD_VIEW,FREEBOARD_LIKE,FREEBOARD_HATE FROM FREEBOARD ORDER BY FREEBOARD_TIME DESC
 </select> 
 
 <select id="getLastNum" resultType="FboardDto">
 SELECT FREEBOARD_NUM FROM FREEBOARD WHERE ROWNUM = 1 ORDER BY FREEBOARD_NUM DESC
 
 </select>
 
 <insert id="insertBoard" parameterType="FboardDto">
 INSERT INTO FREEBOARD VALUES ((SELECT NVL(MAX(FREEBOARD_NUM)+1,0)FROM FREEBOARD),#{user_nickname},#{freeboard_title},SYSDATE,#{freeboard_content},0,0,0,#{freeboard_category}) 
 </insert>
 
 <select id="getDetailView" resultType="FboardDto" parameterType="int" >
 SELECT FREEBOARD_NUM, USER_NICKNAME, FREEBOARD_TITLE,FREEBOARD_TIME,FREEBOARD_CONTENT,FREEBOARD_VIEW,FREEBOARD_LIKE,FREEBOARD_HATE FROM FREEBOARD WHERE FREEBOARD_NUM = #{freeboard_num}
 </select>
 
  <update id="updateBoard" parameterType="FboardDto">
      UPDATE FREEBOARD
      SET FREEBOARD_TITLE = #{freeboard_title}, FREEBOARD_CONTENT = #{freeboard_content}, FREEBOARD_TIME = SYSDATE
      WHERE FREEBOARD_NUM = #{freeboard_num}
    </update>
    
    <delete id="deleteBoard">
    DELETE FREEBOARD WHERE FREEBOARD_NUM=#{freeboard_num}
    </delete>

	<select id="goNext" parameterType="int" resultType="FboardDto">
	<![CDATA[ SELECT FREEBOARD_NUM,FREEBOARD_TITLE FROM FREEBOARD WHERE FREEBOARD_NUM=(SELECT MIN(FREEBOARD_NUM) FROM FREEBOARD WHERE FREEBOARD_NUM > #{freeboard_num})]]> 
	</select>
	
	<select id="goBack" parameterType="int" resultType="FboardDto">
	<![CDATA[ SELECT FREEBOARD_NUM,FREEBOARD_TITLE FROM FREEBOARD WHERE FREEBOARD_NUM=(SELECT max(FREEBOARD_NUM) FROM FREEBOARD WHERE FREEBOARD_NUM < #{freeboard_num})]]> 
	</select>
	
	<update id="readCount" parameterType="int">
	 UPDATE FREEBOARD SET FREEBOARD_VIEW = FREEBOARD_VIEW+1 WHERE FREEBOARD_NUM=#{freeboard_num}	
	</update>
<!-- bad sql error = 끝에 세미콜론 붙였는지 확인하기 -->
<!-- 부등호 사용시 오류날때엔 CDATA 추가해주기 -->
   </mapper>