<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hk.board">

<!-- 	<resultMap type="com.hk.board.dtos.AnsDto" id="AnsDtoMap">
		<result property="seq" column="SEQ" />
		<result property="id" column="ID" />
		<result property="title" column="TITLE" />
		<result property="content" column="CONTENT" />
		<result property="regdate" column="REGDATE" />
		<result property="refer" column="REFER" />
		<result property="step" column="STEP" />
		<result property="depth" column="DEPTH" />
		<result property="readcount" column="READCOUNT" />
		<result property="delflag" column="DELFLAG" />
	</resultMap>
	
	글목록&글상세보기
	<select id="AnsList" parameterType="Map"  resultMap="AnsDtoMap">
		SELECT SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG 
		FROM HKANSWERBOARD 
		seq값이 있으면 where실행 
		<if test="seq!=null">
			<where>
				SEQ=#{seq}			
			</where>
		</if>
		ORDER BY REFER DESC, STEP ASC
	</select>
	
	글추가
	<insert id="AnsInsert" parameterType="AnsDto">
		INSERT INTO HKANSWERBOARD 
		VALUES(HKANSWERBOARD_SEQ.NEXTVAL, #{id}, #{title}, #{content}, SYSDATE, 
		(SELECT NVL(MAX(REFER)+1, 0) FROM HKANSWERBOARD), 0, 0, 0, 'N')
	</insert>
	
	수정
	<update id="AnsUpdate" parameterType="Map">
		UPDATE HKANSWERBOARD SET TITLE = #{title}, CONTENT = #{content}, REGDATE = SYSDATE 
		WHERE SEQ = #{seq}
	</update>
	
	삭제
	<update id="AnsDelete" parameterType="Map">
		UPDATE HKANSWERBOARD SET DELFLAG = 'Y' 
		WHERE SEQ = #{seq}
	</update>
	
	다중삭제
	<update id="AnsMulDel" parameterType="Map">
		UPDATE HKANSWERBOARD SET DELFLAG = 'Y' 
		WHERE SEQ IN
		<foreach collection="seqs" item="seq" open="(" close=")" separator=",">	
			#{seq}
		</foreach>
	</update>
	
	조회수
	<update id="AnsReadcount" parameterType="Map">
		UPDATE HKANSWERBOARD SET READCOUNT = READCOUNT+1
		WHERE SEQ = #{seq}
	</update>
	
	답글
	<update id="AnsReplyUpdate" parameterType="AnsDto">
	<![CDATA[
		UPDATE HKANSWERBOARD 
		SET STEP = STEP + 1
		WHERE REFER = (SELECT REFER 
				   	   FROM HKANSWERBOARD
					   WHERE SEQ = #{seq} )
		  	  AND STEP > (SELECT STEP
						  FROM HKANSWERBOARD
						  WHERE SEQ = #{seq} )
	]]>
	</update>
	<insert id="AnsReplyInsert" parameterType="AnsDto">
	<![CDATA[
		INSERT INTO HKANSWERBOARD (SEQ,ID,TITLE,CONTENT,REGDATE,REFER,STEP,DEPTH,READCOUNT,DELFLAG)
		VALUES (HKANSWERBOARD_SEQ.NEXTVAL, #{id}, #{title}, #{content},SYSDATE, (SELECT REFER FROM HKANSWERBOARD WHERE SEQ = #{seq}), 
			   	(SELECT STEP FROM HKANSWERBOARD WHERE SEQ = #{seq}) + 1, 
			   	(SELECT DEPTH FROM HKANSWERBOARD WHERE SEQ = #{seq}) + 1, 
				0, 'N' )
	]]>
	</insert>
	
	미리보기 Ajax
	<select id="AnsDetailAjax" parameterType="int" resultType="AnsDto">
		SELECT CONTENT
		FROM HKANSWERBOARD
		WHERE SEQ = #{seq}
	</select> -->
</mapper>	