<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.hk.trip.login">

	<select id="login" parameterType="LoginDto" resultType="LoginDto">
		SELECT USER_NICKNAME,TIER,USER_EMAIL,USER_NAME,USER_PASSWORD,USER_PHONE,USER_POINT,USER_ALARMNUM
		FROM T_USER
		WHERE USER_EMAIL = #{user_email} AND USER_PASSWORD = #{user_password}
	</select>
	
	<insert id="signup" parameterType="LoginDto">
		INSERT INTO T_USER(USER_NICKNAME,TIER,USER_EMAIL,USER_NAME,USER_PASSWORD,USER_PHONE,USER_POINT,USER_ALARMNUM)
		VALUES( #{user_nickname}, 'BRONZE', #{user_email}, #{user_name}, #{user_password}, #{user_phone}, 1, 0 );
	</insert>

</mapper>	