<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  

	<mapper namespace="com.hk.trip.manager">
	
	<select id="sgetAllList" resultType="LoginDto"> 
	SELECT USER_NICKNAME,USER_NAME,USER_EMAIL,USER_PHONE,USER_POINT,TIER
	FROM T_USER
	</select>
	 <select id="sgetBoard" resultType="LoginDto">
     SELECT USER_NICKNAME,USER_NAME,USER_EMAIL,USER_PHONE,USER_POINT,TIER
	FROM T_USER
	WHERE USER_NICKNAME = #{user_nickname}
    </select>
    <update id="sdelBoard">
      DELETE T_USER   WHERE USER_NICKNAME = #{user_nickname}
    </update>
     <update id="supdateBoard" parameterType="LoginDto">
      update T_USER
      SET USER_POINT = #{user_point}, TIER = #{tier}
      WHERE USER_NICKNAME = #{user_nickname}
    </update> 
    <update id="smulDelBoard" parameterType="Map">
      DELETE T_USER where user_nickname in
      <foreach collection="user_nicknames" item="user_nickname" open="(" close=")" separator=",">
              #{user_nickname}
      </foreach> 
    </update>
    
    <select id="sgetCount" resultType="int">
	SELECT COUNT(*) AS totalCount FROM T_USER
	
	</select>
	
<select id="sgetNumlist" resultType="LoginDto" parameterType="Map">
	<![CDATA[select X.RNUM,X.USER_NICKNAME, X.USER_NAME, X.USER_EMAIL, X.USER_PHONE,X.USER_POINT,X.TIER
		from (select rownum as rnum, A.USER_NICKNAME, A.USER_NAME, A.USER_EMAIL, A.USER_PHONE, A.USER_POINT,A.TIER FROM (
select USER_NICKNAME, USER_NAME, USER_EMAIL, USER_PHONE,USER_POINT,TIER
        from T_USER
        order by USER_NICKNAME DESC) A
    where ROWNUM <= #{endNum}) X
where X.rnum >= #{startNum}  ]]>
	</select>
	

	

    
	</mapper>
